/* TODO: Put new color as variables */
.main {
  padding: 18px;
}

.main .transaction {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--clr-gray-4);
}

.transaction input,
.transaction select {
  background-color: transparent;
  border: 1px solid var(--clr-gray-4);
  border-radius: 4px;
  color: var(--clr-gray-4);
  font-size: 14px;
  margin-bottom: 16px;
  padding: 8px;
}

.transaction label {
  font-size: 14px;
}

.transaction button {
  border: none;
  border-radius: 4px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 14px;
  padding: 8px;
}

.transaction__title {
  display: none;
}

.transaction__inputs {
  display: flex;
  flex-direction: column;
}

.transaction__inputs div {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.statement__title {
  font-weight: 700;
  font-size: 18px;
  padding: 16px;
  text-align: center;
}

.error {
  font-size: 12px;
  color: #ad0000
}

.input-error {
  border-color: #ad0000 !important;
}

/* 
 * Table
 * I chose not to use classes inside the table to practice using nth-child pseudo-class.
 */

 /* TODO: Change table codes to a new file */

.statement__table {
  width: 100%;
}

.statement__title {
  font-weight: 700;
  font-size: 18px;
  padding: 16px;
  text-align: center;
}
/* Bold in columns and footer. */
.statement__table th,
.statement__table tfoot td {
  font-weight: 700;
}

/* Basic padding on cells. */
.statement__table th,
.statement__table td {
  padding: 10px 5px;
}

/* Column heading Mercadoria aligned left. */
.statement__table th:nth-child(2) {
  text-align: left;
}

.statement__table tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

/* Addition and subtraction symbols in the center. */
.statement__table tbody tr td:nth-child(1) {
  text-align: center;
}

/* Lines below transaction cells. */
.statement__table tbody tr,
.statement__table thead tr {
  border-bottom: 1px solid var(--clr-gray-4);
}

/* Forcing the value column min size (the right one) */
.statement__table thead tr th:nth-child(3),
.statement__table tbody tr td:nth-child(3),
.statement__table tfoot tr td:nth-child(3) {
  min-width: 110px;
  text-align: right;
}

/* Double border before total. */
.statement__table tfoot {
  border-top: 3px double var(--clr-black);
}

/* Spacing above total. */
.statement__table tfoot td {
  padding-top: 16px;
}

.result {
  display: block;
  font-weight: 400;
}

a.remove,
a.remove:active, 
a.remove:hover,
a.remove:visited {
  display: inline-block;
  padding: 2px 3px;
  margin-left: 2px;
  background-color: #d10000;
  color: var(--clr-white);
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
}

a.remove:hover {

  background-color: #800000;
}

/*
 * Tablet portrait
 */
@media screen and (min-width: 768px) {
  .main .transaction {
    border: 1px solid var(--clr-gray-4);
    border-radius: 5px;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .transaction__title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    text-align: center;
  }

  .transaction__inputs {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .transaction button {
    align-self: end;
    width: 200px;
  }
}

/*
 * Tablet landscape and desktop
 */
@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    gap: 20px;
    grid-template-columns: 400px 1fr;
  }

  .transaction__inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .transaction button {
    align-self: normal;
    width: auto;
  }
}
